.aws-sam
node_modules
src/node_modules
src/nodemon.config.js
src/local-env.mjs
src/local.mjs
.env.teams
ngrok.yml
local-files
.vscode
.vscode/*
nodemon.config.js
src/local-files
nodejs_layer
nodejs_layer/*
.DS_Store
scripts\nodejs_layer
.DS_Store
*.tgz
debug
debug/*
*.log
